{% extends "base.html" %}
{% block content %}
    <h1>Welcome to the Django App!</h1>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
        {% if user.is_server %}
        <p> <a href="{% url 'server_register' %}">Server Register</a> |</p>
            <p>You are logged in as a Server User.</p>
        {% elif user.is_client %}
            <p>You are logged in as a Client User.</p>
            <a href="{% url 'client_register' %}"></a>
        {% endif %}
    {% else %}
        <p>You are not logged in.</p>
    {% endif %}
{% endblock %}
